@media (max-width:1280px) {
    .hero-left{
        padding-left: 110px !important;
    }
    .hero-left h2{
        font-size: 22px;

    }
    .hero-left p{
        font-size: 60px;
    }
    
    .hero-latest-btn{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }
    .hero-right image{
        width: 500px ;
    }
}

@media (max-width:1024px) {
    .hero-left{
        padding-left: 80px;
        margin-bottom: 290px;
        
    }
    .hero-left h2{
        font-size: 20px;
    }
    .hero-left p{
        font-size: 50px !important;
    }
    
    .hero-latest-btn{
        width: 220px;
        height: 50px;
        font-size: 16px;
    }
    .hero-right .image{
        width: 400px;
    }
}

@media (max-width:800px) {
    .hero-left{
        /* padding-left: 80px; */
        margin-top: 290px;
        
    }
    .hero-left h2{
        font-size: 16px;
    }
    .hero-left p{
        font-size: 40px !important;
        
    }
    
    .hero-latest-btn{
        width: 175px;
        height: 40px;
        font-size: 13px;
    }
    .hero-right .image{
        width: 300px;
        margin-top: 90px;
    }
}


@media (max-width: 600px) {
    .hero{
        flex-direction: column;

    }
    .hero-right{
        display: none;
    }
    .hero-left h2{
        font-size: 18px;
    }
    .hero-left p{
        font-size: 50px;
    }
    .hero-latest-btn{
        width: 200px;
        height: 45px;
        font-size: 14px;
    }
}
