@media (max-width:800px) {
    .footer{
        gap: 20px;
    }
    .footer-logo{
        gap: 10px;
        align-items: end;
    }
    
    .footer-logo img{
        width: 40px;
    }
    .footer-logo p{
        font-size:  25px;
    }
    .footer-links{
        font-size: 14px !important;
        gap: 10px !important;
    }
    .footer-icons img{
        width: 22px;
    }
    .footer-copyright{
        font-size: 13px;
    }
}